{
  "name": "{{ package_name }}",
  "description": "",
  "version": "0.1.0",
  "type": "module",
  "files": [
    "dist"
  ],
  "keywords": [],
  "homepage": "https://github.com/{{ github_user }}/{{ github_repo }}",
  "bugs": {
    "url": "https://github.com/{{ github_user }}/{{ github_repo }}/issues"
  },
  "license": "MIT",
  "author": {
    "name": "{{ author_name }}",
    "url": "https://github.com/{{ github_user }}",
    "email": "{{ author_email }}"
  },
  "bin": {},
  "repository": "github:{{ github_user }}/{{ github_repo }}",
  "funding": {
    "url": "https://github.com/{{ github_user }}/{{ github_repo }}?sponsor=1",
    "type": "github"
  },
  "scripts": {
    "build": "bunup",
    "format": "biome format",
    "format:fix": "biome format --write",
    "lint": "biome check",
    "lint:fix": "biome check --write",
    "prepack": "npm run build",
    "test": "bun test",
    "test:coverage": "bun test --coverage",
    "test:watch": "bun test --watch",
    "type-check": "tsc --noEmit"
  },
  "dependencies": {},
  "devDependencies": {
    "@biomejs/biome": "^2",
    "@liblaf/config": "^0.1",
    "@types/bun": "^1",
    "bunup": "^0.15",
    "typescript": "^5"
  },
  "peerDependencies": {
    "typescript": "^5"
  },
  "peerDependenciesMeta": {
    "typescript": {
      "optional": true
    }
  },
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org/",
    "provenance": true
  },
  "readme": "./README.md"
}
