{
  "name": "{{ package_name }}",
  "version": "0.0.0",
  "description": "",
  "keywords": [],
  "homepage": "https://github.com/{{ github_user }}/{{ github_repo }}",
  "bugs": {
    "url": "https://github.com/{{ github_user }}/{{ github_repo }}/issues"
  },
  "license": "{{ license }}",
  "author": {
    "name": "{{ author_name }}",
    "email": "{{ author_email }}",
    "url": "https://github.com/{{ github_user }}"
  },
  "repository": "github:{{ github_user }}/{{ github_repo }}",
  "funding": {
    "type": "github",
    "url": "https://github.com/{{ github_user }}/{{ github_repo }}?sponsor=1"
  },
  "files": [
    "dist"
  ],
  "type": "module",
  "exports": {},
  "publishConfig": {
    "access": "public",
    "provenance": true,
    "registry": "https://registry.npmjs.org/"
  },
  "scripts": {
    "build": "bunup",
    "fmt": "oxfmt",
    "fmt:check": "oxfmt --check",
    "lint": "oxlint",
    "lint:fix": "oxlint --fix",
    "prepack": "bun run build",
    "type-check": "tsc --noEmit"
  },
  "devDependencies": {
    "@liblaf/config": "latest",
    "bunup": "latest",
    "oxfmt": "latest",
    "oxlint": "latest",
    "oxlint-tsgolint": "latest",
    "typescript": "latest"
  },
  "readme": "./README.md"
}
