{
  "name": "{{ name }}",
  "version": "0.0.0",
  "description": "TODO",
  "keywords": [],
  "homepage": "https://github.com/{{ owner }}/{{ repo }}",
  "bugs": {
    "url": "https://github.com/{{ owner }}/{{ repo }}/issues"
  },
  "license": "{{ license }}",
  "author": {
    "name": "{{ owner }}",
    "url": "{{ author_url }}",
    "email": "{{ email }}"
  },
  "files": [
    "dist"
  ],
  "exports": {
    ".": {
      "import": {
        "types": "./dist/index.d.ts",
        "default": "./dist/index.js"
      },
      "require": {
        "types": "./dist/index.d.cts",
        "default": "./dist/index.cjs"
      }
    }
  },
  "type": "module",
  "repository": "github:{{ owner }}/{{ repo }}",
  "scripts": {
    "build": "tsup",
    "check": "biome check --write",
    "prepack": "tsup"
  },
  "dependencies": {},
  "devDependencies": {
    "@biomejs/biome": "latest",
    "@tsconfig/bun": "latest",
    "@types/bun": "latest",
    "tsup": "latest"
  },
  "peerDependencies": {
    "typescript": "latest"
  },
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org",
    "provenance": true
  },
  "readme": "README.md"
}
